<div class="wrapper login">
	<div class="sign-in-form">
		<h1 class="center program-heading"><img src="resources/cook_hat_white.svg"> Recipe Book</h1>

		<div class="form">
			<form>

				<fancy-input [(model)]="email" label="Email" field="email" [required]="true"></fancy-input>
				<fancy-input *ngIf="!login" [(model)]="emailConfirm" label="Confirm email" field="confirm-email"
				             [required]="true"></fancy-input>
				<fancy-input type="password" [(model)]="password" label="Password" field="password" [required]="true"></fancy-input>
				<fancy-input *ngIf="!login" type="password" [(model)]="passwordConfirm" label="Confirm password" field="confirm-password"
				             [required]="true"></fancy-input>

				<div *ngIf="errorMessage" class="error-message">
					{{errorMessage}}
				</div>
				<button *ngIf="login" class="wide accent" (click)="submitForm()" [disabled]="loading">Sign<span *ngIf="loading">ing</span> in<span *ngIf="loading">... <span class="spinner"></span></span></button>
				<button *ngIf="!login" class="wide accent" (click)="submitForm()" [disabled]="loading">Sign<span *ngIf="loading">ing</span> up<span *ngIf="loading">... <span class="spinner"></span></span></button>
			</form>
			<button *ngIf="login" class="wide primary" (click)="toggleForm('sign-up')">Sign up</button>
			<button *ngIf="!login" class="wide primary" (click)="toggleForm('login')">Sign in</button>
		</div>


	</div>
</div>