<menu>
	<button class="icon back" (click)="goToRecipes()" aria-label="Go back to recipes">arrow_back</button>
	<h1 class="menu-heading">Recipe</h1>
	<button class="icon delete pull-right" (click)="deleteRecipe()" [attr.aria-label]="recipe?'Delete '+recipe.name:'Delete'">delete</button>
</menu>
<div class="recipe recipe-detail" *ngIf="recipe">
	<div class="recipe-photo"><img *ngIf="recipe.photo" src="images/{{recipe.photo}}"></div>
	<div class="recipe-description">
		<div class="button-group">
			<button class="fab-button edit-button" (click)="editRecipe()" [attr.aria-label]="'Edit '+recipe.name">edit</button>
		</div>
		<h2>{{recipe.name}}</h2>
		<p>{{recipe.brief_description}}</p>
		<div class="properties">
			<span class="timer" *ngIf="recipe.time>0"><span class="icon">timer</span> {{recipe.time | humanTime}}</span>
			<span class="people" *ngIf="recipe.serves>0"><span
					class="icon">restaurant_menu</span> {{recipe.serves}}</span>
			<span *ngIf="recipe.category"><span class="icon">filter</span> {{recipe.category}}</span>
		</div>
		<p class="tags" *ngIf="recipe.tags&&recipe.tags.length&&recipe.tags[0]!=''"><span class="icon">local_offer</span> {{recipe.tags | join}}</p>
		<p class="note" *ngIf="recipe.personal_notes"><span class="icon">note</span> {{recipe.personal_notes}}</p>
		<div class="divider"></div>
		<div class="ingredients" *ngIf="recipe.ingredients">
			<h3>Ingredients</h3>
			<div class="ingredient" *ngFor="let ingredient of recipe.ingredients">
				{{ingredient.amount | hideEmpty}}{{ingredient?.unit}}
				{{ingredient?.name}}
				{{ingredient?.info}}
				{{ingredient?.group}}
			</div>
		</div>
		<div class="methods" *ngIf="recipe.methods&&recipe.methods.length&&recipe.methods[0].value">
			<div class="divider"></div>
			<h3>Method steps</h3>
			<ol>
				<li *ngFor="let method of recipe.methods">{{method.value}}</li>
			</ol>
		</div>
		<p class="link" [innerHTML]="recipe.recipe_refs | linky:'_blank'"></p>
	</div>
	<modal #deleteModal (confirm)="confirmRecipeDelete()">
		Delete recipe?
		<modal-footer [show-default-buttons]="true" confirm-button="Delete"></modal-footer>
	</modal>
</div>
<snackbar #errorSnack button="Dismiss">An error occurred when fetching the recipe.</snackbar>