<menu [side-menu]="!showSearch">
	<h1 class="menu-heading" [class.hidden]="showSearch" *ngIf="!category">Recipe Book</h1>
	<h1 class="menu-heading" [class.hidden]="showSearch" *ngIf="category">{{category}}s</h1>
	<button class="icon" (click)="toggleSearch()" [class.active]="showSearch||search" [attr.aria-label]="showSearch?'Show search':'Hide search'">search</button>
	<span class="search" [class.visible]="showSearch">
		<inline-input [(model)]="search" (modelChange)="searchUpdate()"
	                                    placeholder="search"></inline-input>
	</span>
	<button class="icon" (click)="resetSearch()" *ngIf="showSearch" aria-label="Clear search">close</button>
</menu>
<button class="fab-button create-new" (click)="createRecipe()" aria-label="Create new recipe" [class.snack-open]="snackOpen">add</button>
<div class="recipes" *ngIf="recipes">
	<div class="recipe" *ngFor="let recipe of recipes" (keyup)="triggerClick($event,viewRecipe,recipe)" (click)="viewRecipe(recipe)" tabindex="0">
		<div class="recipe-image"><img *ngIf="recipe.photo" src="images/{{recipe.photo}}"></div>
		<h2 [class.short]="recipe.brief_description" title="{{recipe.name}}">{{recipe.name}}</h2>
		<div class="recipe-brief-description" *ngIf="recipe.brief_description">
			{{recipe.brief_description | truncate:100}}
		</div>
	</div>
</div>
<h2 *ngIf="!recipes||(recipes&&!recipes.length)" class="none-found">No recipes found</h2>
<snackbar #updateSnack button="Install" (action)="installUpdate()">New update available.</snackbar>
<snackbar #errorSnack button="Dismiss">An error occurred when fetching the recipes.</snackbar>