<div class="menu">
	<button class="icon" *ngIf="showMenu" (click)="toggleSideMenu()">menu</button>
	<ng-content></ng-content>
</div>
<div class="side-menu-backdrop" *ngIf="showSideMenu" (click)="toggleSideMenu()"></div>
<div class="side-menu" [hidden]="!showSideMenu" (keydown)="trapKey($event)">
	<div class="scroll">
		<div class="header">
			<div class="text"><img src="resources/cook_hat_white.svg"> Recipe Book</div>
		</div>
		<button class="option" (click)="goToAll()">All</button>
		<button class="option" (click)="goToCategory('starter')">Starters</button>
		<button class="option" (click)="goToCategory('main')">Mains</button>
		<button class="option" (click)="goToCategory('dessert')">Desserts</button>
		<button class="option" (click)="goToCategory('cake')">Cakes/Baking</button>
		<button class="option" (click)="goToCategory('snack')">Snacks</button>
	</div>
	<div class="fixed">
		<button class="option"><span class="icon">settings</span>Settings</button>
		<button class="option" (click)="logout()"><span class="icon">power_settings_new</span>Logout</button>
	</div>
</div>