<menu>
	<button class="icon back" (click)="goBack()" aria-label="Go back and discard changes">arrow_back</button>
	<h1 class="menu-heading" *ngIf="mode=='edit'">Edit recipe</h1>
	<h1 class="menu-heading" *ngIf="mode=='new'">New recipe</h1>
	<button class="icon done pull-right" (click)="save()" aria-label="Save changes">done</button>
</menu>
<div class="recipe recipe-edit" *ngIf="recipe">
	<fancy-input [(model)]="recipe.name" label="Name" class="recipe-name" field="name"></fancy-input>
	<div class="row filled">
		<label for="photo">Photo</label>
		<input id="photo" type="file" (change)="fileChange($event)">
	</div>
	<fancy-input type="textarea" [(model)]="recipe.brief_description" label="Brief description"></fancy-input>
	<div class="row filled">
		<label for="category">Category</label>
		<select [(ngModel)]="recipe.category" id="category">
			<option value="">(None)</option>
			<option value="starter">Starter</option>
			<option value="main">Main</option>
			<option value="dessert">Dessert</option>
			<option value="cake">Cake/Baking</option>
			<option value="snack">Snack</option>
		</select>
	</div>

	<fancy-input [(model)]="recipe.tags" label="Tags" field="tags"></fancy-input>
	<fancy-input type="number" [(model)]="recipe.time" label="Time" field="time"></fancy-input>
	<fancy-input type="number" [(model)]="recipe.serves" label="Serves" field="serves"></fancy-input>
	<fancy-input type="textarea" [(model)]="recipe.personal_notes" label="Personal notes" field="personal_notes"></fancy-input>
	<fancy-input [(model)]="recipe.recipe_refs" label="References" field="references"></fancy-input>


	<div class="row ingredients filled" *ngIf="recipe.ingredients">
		<label>Ingredients</label>
		<div class="ingredient" *ngFor="let ingredient of recipe.ingredients; let l = last" [class.last]="l">
			<inline-input type="number" class="amount" [(model)]="ingredient.amount" placeholder="0"></inline-input>
			<select class="unit" [(ngModel)]="ingredient.unit">
				<option value="">(No Unit)</option>
				<optgroup label="Weight/Mass">
					<option value="g">grams (g)</option>
					<option value="kg">kilograms (kg)</option>
					<option value="oz">ounces (oz)</option>
					<option value="lb">pounds (lb)</option>
				</optgroup>
				<optgroup label="Volume">
					<option value="ml">millilitres (ml)</option>
					<option value="l">litres (l)</option>
					<option value="fl oz">fluid ounces (fl oz)</option>
					<option value=" pt">pint(s)</option>
					<option value=" tsp">teaspoon (tsp)</option>
					<option value=" dsp">dessertspoon (dsp)</option>
					<option value=" tbsp">tablespoon (tbsp)</option>
					<option value=" cup">cup(s)</option>
					<option value=" pinch">pinch</option>
				</optgroup>
			</select>
			<inline-input class="name" [(model)]="ingredient.name" placeholder="name"></inline-input>
			<inline-input class="info" [(model)]="ingredient.info" placeholder="info"></inline-input>
			<inline-input class="group" [(model)]="ingredient.group" placeholder="group"></inline-input>
			<button class="icon delete" (click)="deleteIngredient(ingredient)" [attr.aria-label]="'Delete '+ingredient.name">delete</button>
		</div>
		<button class="add-ingredient" (click)="addIngredient()">Add ingredient</button>
	</div>
	<div class="row methods filled">
		<label>Method steps</label>
		<div class="method" *ngFor="let method of recipe.methods; let i = last; let i = index" [class.last]="l">
			<span class="number">{{i+1}}</span>
			<inline-input type="textarea" [(model)]="method.value"></inline-input>
			<button class="icon delete" (click)="deleteMethod(method)">delete</button>
		</div>
		<button class="add-method" (click)="addMethod()">Add method</button>
	</div>
	<modal #discardModal (confirm)="discardChanges()">
		Discard changes?
		<modal-footer [show-default-buttons]="true" confirm-button="Discard"></modal-footer>
	</modal>
</div>
<snackbar #errorSnack button="Dismiss">An error occurred when fetching the recipe.</snackbar>