input, select, textarea {
  font-family: inherit;
  font-size: 16px;
  height: 28px;
  border: 0;
  border-bottom: 1px solid #eceff1;
  color: #212121;
  background: none;
}
input:focus, select:focus, textarea:focus {
  border-bottom: 2px solid #FF4081;
  outline: none;
}

h1, h2, h3, h4, button:not(.icon):not(.fab-button):not(.option),
.button {
  font-weight: 400;
}

.recipes .recipe h2, .recipe-detail .recipe-description h2, .side-menu .header, .program-heading {
  font-family: 'Shadows Into Light', cursive;
}

.recipes .recipe, .recipe-detail .recipe-description, .recipe-edit, .modal, button.raised:not(.icon):not(.fab-button):not(.option),
.button.raised, .fab-button {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.recipes .recipe:focus, .recipes .recipe:hover, button.raised:not(.icon):not(.fab-button):not(.option):focus, button.raised:not(.icon):not(.fab-button):not(.option):hover,
.button.raised:focus,
.button.raised:hover, .fab-button:focus, .fab-button:hover {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.28), 0 3px 1px -2px rgba(0, 0, 0, 0.4), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.recipes .recipe, .row label, button.raised:not(.icon):not(.fab-button):not(.option),
.button.raised, .fab-button {
  transition: 0.25s;
}

.recipes .recipe, .recipe-detail .recipe-description, .recipe-edit, .modal {
  max-width: 100%;
  width: 600px;
  border-radius: 2px;
  background: #fff;
}

* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  font: normal 16px/normal 'Open Sans', sans-serif;
  background: #eceff1;
  padding: 10px;
  margin: 0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

input {
  width: 100%;
}

textarea {
  width: 100%;
  overflow: hidden;
  resize: none;
}

a {
  color: #FF4081;
  text-decoration: none;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 60px -15px 20px 0;
}
.recipes .recipe {
  width: 220px;
  margin: 15px 15px 5px 0;
  overflow: hidden;
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  .recipes .recipe {
    width: 100%;
  }
}
.recipes .recipe h2 {
  line-height: 1.3em;
  padding: 15px;
  margin: 0;
}
.recipes .recipe h2.short {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media screen and (max-width: 500px) {
  .recipes .recipe h2.short {
    white-space: normal;
    overflow: auto;
  }
}
.recipes .recipe .recipe-image {
  height: 160px;
  overflow: hidden;
  border-bottom: 1px solid #e5eef2;
}
.recipes .recipe .recipe-brief-description {
  padding: 10px 20px 20px;
  color: #757575;
  font-size: 14px;
}
.recipes .recipe img {
  max-width: 140%;
  min-height: 100%;
}

.recipe-detail .button-group {
  text-align: right;
  position: fixed;
  bottom: 20px;
  left: 50%;
  width: 300px;
  max-width: 50%;
  margin-left: 29px;
}
@media screen and (max-width: 700px) {
  .recipe-detail .button-group {
    width: auto;
    left: auto;
    right: 20px;
    margin-left: 0;
  }
}
.recipe-detail .button-group .fab-button {
  position: relative;
  z-index: 2;
}
.recipe-detail .recipe-photo {
  position: absolute;
  top: 39px;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.recipe-detail .recipe-photo img {
  width: 100%;
}
@media screen and (max-width: 500px) {
  .recipe-detail .recipe-photo img {
    width: 150%;
    max-width: none;
    margin: 0 -7%;
  }
}
.recipe-detail .recipe-description {
  width: 600px;
  margin: 200px auto 50px;
  padding: 20px;
  position: relative;
}
.recipe-detail .recipe-description h2 {
  font-size: 2em;
  line-height: 1.3em;
  margin-top: 10px;
}
.recipe-detail .ingredients {
  margin-bottom: 30px;
}
.recipe-detail .ingredient {
  margin-top: 10px;
}
.recipe-detail .link {
  word-wrap: break-word;
}
.recipe-detail .icon {
  vertical-align: bottom;
}
.recipe-detail .note,
.recipe-detail .tags {
  color: #757575;
  font-size: 13px;
  text-indent: -29px;
  padding-left: 30px;
}
.recipe-detail .note .icon,
.recipe-detail .tags .icon {
  position: relative;
  left: 10px;
}
.recipe-detail .divider {
  margin-right: -20px;
  margin-left: -20px;
}
.recipe-detail .properties {
  margin: 30px 0 20px;
}
.recipe-detail .properties > span {
  display: inline-block;
  margin-bottom: 10px;
  vertical-align: middle;
}
.recipe-detail .people,
.recipe-detail .timer {
  margin-right: 20px;
}
.recipe-detail h3 {
  font-size: 16px;
  color: #757575;
  margin: 0 0 20px 0;
}
.recipe-detail ol {
  padding-left: 20px;
  margin-bottom: 30px;
}
.recipe-detail ol li {
  margin-top: 20px;
}

.divider {
  margin: 20px 0;
  border-top: 1px solid #e5eef2;
}

.recipe-edit {
  width: 600px;
  margin: 76px auto 50px;
  padding: 20px;
}
.recipe-edit .actions {
  margin-top: 40px;
}
.recipe-edit .ingredients {
  margin-top: 50px;
  margin-bottom: 25px;
}
@media screen and (max-width: 500px) {
  .recipe-edit .ingredients .last {
    margin-bottom: 0;
  }
}
.recipe-edit .add-ingredient {
  margin-top: 10px;
}
.recipe-edit .delete {
  cursor: pointer;
}
.recipe-edit .ingredient {
  display: flex;
}
.recipe-edit .ingredient inline-input,
.recipe-edit .ingredient select {
  margin-right: 10px;
}
.recipe-edit .ingredient .delete {
  order: 6;
}
.recipe-edit .ingredient .amount {
  width: 50px;
  display: inline-block;
  order: 1;
}
.recipe-edit .ingredient .unit {
  width: 100px;
  order: 2;
}
.recipe-edit .ingredient .name {
  order: 3;
}
.recipe-edit .ingredient .info {
  order: 4;
}
.recipe-edit .ingredient .group {
  order: 5;
}
@media screen and (max-width: 500px) {
  .recipe-edit .ingredient {
    display: block;
    margin-bottom: 45px;
    position: relative;
    width: calc(100% - 20px);
  }
  .recipe-edit .ingredient .delete {
    position: absolute;
    top: 50%;
    right: -23px;
  }
  .recipe-edit .ingredient .name, .recipe-edit .ingredient .info, .recipe-edit .ingredient .group {
    margin-top: 10px;
    display: block;
  }
}
.recipe-edit .methods {
  margin-top: 50px;
}
.recipe-edit .method {
  display: flex;
  margin-bottom: 20px;
}
.recipe-edit .method inline-input {
  width: 100%;
}
.recipe-edit .method .number {
  width: 20px;
  padding-top: 2px;
  color: #757575;
}

.row {
  margin: 35px 0 25px;
  position: relative;
}
.row label {
  display: block;
  color: #757575;
  position: absolute;
  transform-origin: left;
  transform: translate(0, 4px) scale(1);
  pointer-events: none;
}
.row.active label, .row.filled label {
  transform: translate(0, -20px) scale(0.75);
}
.row.active label {
  color: #FF4081;
}

.recipe-name label,
.recipe-name input {
  font-size: 27px;
  height: 40px;
}
.recipe-name .active label,
.recipe-name .filled label {
  transform: translate(0, -25px) scale(0.45);
}

::-webkit-input-placeholder {
  color: #757575;
  font-weight: 300;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #757575;
  font-weight: 300;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #757575;
  font-weight: 300;
}

:-ms-input-placeholder {
  color: #757575;
  font-weight: 300;
}

.modal {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 300px;
  padding: 20px;
  display: none;
  max-width: calc(100% - 40px);
  z-index: 5;
}
.modal.shown {
  display: block;
}
.modal .modal-footer {
  padding-top: 20px;
  text-align: right;
}

.menu {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  background: #607D8B;
  padding: 20px 25px;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  display: flex;
}
.menu .icon {
  cursor: pointer;
}
.menu span {
  display: inline-block;
  vertical-align: middle;
}
.menu .pull-right {
  float: right;
}
.menu .menu-heading {
  font-size: 16px;
  display: inline-block;
  margin: 0 0 0 20px;
  width: 100%;
  text-transform: capitalize;
}
.menu .icon {
  vertical-align: bottom;
}
.menu .icon.active {
  color: #ff80ab;
}
.menu .search {
  height: 23px;
  display: none;
  width: calc(100% - 44px);
  margin: 0 20px;
}
.menu .search input {
  color: #fff;
  height: auto;
  width: 100%;
  font-size: 16px;
  border-bottom: none;
}
.menu .search input:focus {
  margin-bottom: -1px;
}
.menu .search inline-input {
  position: relative;
  top: -2px;
  width: calc(100% - 30px);
}
.menu .search.visible {
  display: inline-block;
}
.menu ::-webkit-input-placeholder {
  color: #CFD8DC;
}
.menu :-moz-placeholder {
  /* Firefox 18- */
  color: #CFD8DC;
}
.menu ::-moz-placeholder {
  /* Firefox 19+ */
  color: #CFD8DC;
}
.menu :-ms-input-placeholder {
  color: #CFD8DC;
}

.side-menu-backdrop {
  opacity: .48;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  cursor: pointer;
}

.side-menu {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  max-width: 80%;
  z-index: 10;
  background: #eceff1;
}
.side-menu .scroll {
  height: calc(100% - 75px);
  overflow: auto;
  padding: 20px;
}
.side-menu .fixed {
  border-top: 1px solid #CFD8DC;
  padding: 0 20px;
}
.side-menu .header {
  background: url(../resources/cooking.jpg);
  font-size: 30px;
  background-size: cover;
  margin: -20px -20px 30px;
  padding: 30px 20px;
  color: #fff;
  position: relative;
}
.side-menu .header:before {
  content: "";
  display: block;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.side-menu .header .text {
  position: relative;
}
.side-menu .header img {
  width: 30px;
}
.side-menu .option {
  margin: 10px 0;
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: left;
  padding: 0;
}
.side-menu .option .icon {
  vertical-align: middle;
  margin-right: 10px;
}

.none-found {
  text-align: center;
  color: #607D8B;
}

[hidden],
.hidden {
  display: none !important;
}

.create-new {
  position: fixed;
  right: 30px;
  bottom: 30px;
}

button {
  border: none;
  background: none;
  font-size: inherit;
}

button:not(.icon):not(.fab-button):not(.option),
.button {
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  color: #FF4081;
  transition: 0.25s;
  margin-right: 10px;
}
button:not(.icon):not(.fab-button):not(.option).accent,
.button.accent {
  background: #FF4081;
  color: #FFFFFF;
}
button:not(.icon):not(.fab-button):not(.option).primary,
.button.primary {
  background: #CFD8DC;
}
button:not(.icon):not(.fab-button):not(.option).wide,
.button.wide {
  width: 100%;
  margin-bottom: 15px;
  display: block;
}
button:not(.icon):not(.fab-button):not(.option):focus, button:not(.icon):not(.fab-button):not(.option):hover,
.button:focus,
.button:hover {
  color: #FF4081;
  background: #eceff1;
}

.fab-button {
  cursor: pointer;
  width: 56px;
  height: 56px;
  line-height: 56px;
  font-size: 24px;
  text-align: center;
  font-family: 'Material Icons';
  border-radius: 100%;
  background: #FF4081;
  color: #FFFFFF;
  display: inline-block;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" 1;
}
.fab-button.snack-open {
  transform: translate(0, -50%);
}
.fab-button.fab-mini {
  background: #fff;
  color: #757575;
  line-height: 40px;
  width: 40px;
  height: 40px;
}

.icon {
  line-height: 22px;
  font-size: 24px;
  width: 24px;
  height: 24px;
  text-align: center;
  font-family: 'Material Icons';
  text-transform: none;
  color: inherit;
  display: inline-block;
  padding: 0;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" 1;
}

.login {
  background: #333 url(../resources/cooking.jpg) center;
  background-size: cover;
  color: #fff;
  margin: -10px;
  min-height: 100vh;
  overflow: auto;
}

.sign-in-form {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 100%;
  max-width: 880px;
  margin: 50px auto;
  text-align: center;
}
.sign-in-form input {
  color: #fff;
}
.sign-in-form .accent {
  margin-top: 40px;
}
@media screen and (max-width: 500px) {
  .sign-in-form {
    margin-top: 0;
    margin-bottom: 0;
    min-height: 100vh;
  }
}

.form {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.program-heading {
  font-size: 40px;
}
.program-heading img {
  height: 80px;
  display: block;
  margin: 0 auto 20px;
}

.error-message {
  color: #F50057;
  white-space: pre-line;
}

.spinner {
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 15px;
  margin-left: 10px;
  animation: rotate 0.8s infinite linear;
  border: 2px solid #fff;
  border-right-color: transparent;
  border-radius: 50%;
}
button:hover .spinner {
  border-color: #FF4081;
  border-right-color: transparent;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.snackbar {
  font-size: 14px;
  background: #323232;
  color: #eceff1;
  border-radius: 2px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  transition: 1s transform;
  padding: 14px 24px;
  display: flex;
  justify-content: space-between;
  min-width: 288px;
  max-width: 568px;
}
@media screen and (max-width: 500px) {
  .snackbar {
    width: 100%;
    max-width: none;
  }
}
.snackbar.shown {
  transform: translate(-50%, 0%);
}
.snackbar .snackbar-button {
  margin-left: 48px;
  text-transform: uppercase;
  color: #FF4081;
  cursor: pointer;
}
