// colour palette
$colors: (
	light: #fff,
	hint:#eceff1,
	border:#CFD8DC,
	main:#263238,
	footer:#37474f,
	tags:#90A4AE,
	dark-header:#263238,
	dark:#000,
	primary-dark: #455A64,
	primary: #607D8B,
	primary-light: #CFD8DC,
	icon: #FFFFFF,
	accent: #FF4081,
	accent-light: #ff80ab,
	accent-dark: #F50057,
	primary-text: #212121,
	secondary-text: #757575,
	divider: #e5eef2,
	notification: #323232
);

@mixin placeholder{
	::-webkit-input-placeholder {
		@content;
	}

	:-moz-placeholder { /* Firefox 18- */
		@content;
	}

	::-moz-placeholder {  /* Firefox 19+ */
		@content;
	}

	:-ms-input-placeholder {
		@content;
	}
}
@function breakpoint($query) {
	$loop-to: length($query);
	$media-query: "screen and ";
	$i: 1;
	@while $i <= $loop-to {
		$media-query: $media-query + "(" + nth($query, $i) + ": " + nth($query, $i + 1) + ") ";

		@if ($i + 1) != $loop-to {
			$media-query: $media-query + "and ";
		}

		$i: $i + 2;
	}
	@return $media-query;
}

@mixin media($break-point) {
	@media #{""+$break-point} {
		@content;
	}
}
$bp-medium: breakpoint(max-width 700px);
$bp-small: breakpoint(max-width 500px);
%input{
	font-family:inherit;
	font-size: 16px;
	height: 28px;
	border:0;
	border-bottom:1px solid map-get($colors,hint);
	color:map-get($colors,primary-text);
	background:none;
	&:focus{
		border-bottom: 2px solid map-get($colors,accent);
		outline:none;
	}
}
%font-normal{
	font-weight: 400;
}
%cursive-font{
	font-family: 'Shadows Into Light', cursive;
}
%dash{
	stroke-dasharray: 1500;
	stroke-dashoffset: 1500;
}
%box-shadow{
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
%elevated-box-shadow{
	box-shadow: 0 8px 8px 0 rgba(0,0,0,.28),0 3px 1px -2px rgba(0,0,0,.4),0 1px 5px 0 rgba(0,0,0,.12);
}
%transition{
	transition: 0.25s;
}
%box{
	@extend %box-shadow;
	max-width:100%;
	width:600px;
	border-radius: 2px;
	background:map-get($colors,light);
}

*{
	box-sizing: border-box;
}
html{
	padding:0;
	margin:0;
	overflow-x:hidden;
}
body{
	font:normal 16px/normal 'Open Sans', sans-serif;
	background:map-get($colors,hint);
	padding:10px;
	margin:0;
	overflow-x:hidden;
}
img{
	max-width: 100%;
}
input{
	@extend %input;
	width:100%;
}
select{
	@extend %input;
}
textarea{
	@extend %input;
	width:100%;
	overflow: hidden;
	resize: none;
}
h1,h2,h3,h4{
	@extend %font-normal;
}
a{
	color:map-get($colors,accent);
	text-decoration: none;
}

.recipes{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin:60px -15px 20px 0;
	.recipe{
		@extend %box;
		@extend %transition;
		width:220px;
		margin: 15px 15px 5px 0;
		overflow:hidden;
		cursor: pointer;
		&:focus,
		&:hover{
			@extend %elevated-box-shadow;
		}
		@include media($bp-small){
			width:100%;
		}
		h2{
			@extend %cursive-font;
			line-height: 1.3em;
			padding:15px;
			margin:0;
			&.short{
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				@include media($bp-small){
					white-space: normal;
					overflow: auto;
				}
			}
		}
		.recipe-image{
			height:160px;
			overflow: hidden;
			border-bottom:1px solid map-get($colors,divider);
		}
		.recipe-brief-description {
			padding: 10px 20px 20px;
			color: #757575;
			font-size: 14px;
		}
		img{
			max-width: 140%;
			min-height:100%;
		}
	}
}
.recipe-detail{
	.button-group{
		text-align: right;
		position: fixed;
		bottom: 20px;
		left: 50%;
		width: 300px;
		max-width: 50%;
		margin-left: 29px;
		@include media($bp-medium){
			width:auto;
			left:auto;
			right:20px;
			margin-left: 0;
		}
		.fab-button{
			position: relative;
			z-index: 2;
		}
	}
	.recipe-photo{
		position: absolute;
		top: 39px;
		left: 0;
		width: 100%;
		overflow: hidden;
		img{
			width:100%;
			@include media($bp-small){
				width: 150%;
				max-width: none;
				margin: 0 -7%;
			}
		}
	}
	.recipe-description{
		@extend %box;
		width:600px;
		margin:200px auto 50px;
		padding:20px;
		position: relative;
		h2{
			@extend %cursive-font;
			font-size: 2em;
			line-height: 1.3em;
			margin-top: 10px;
		}
	}
	.ingredients{
		margin-bottom:30px;
	}
	.ingredient{
		margin-top:10px;
	}
	.link{
		word-wrap: break-word;
	}
	.icon{
		vertical-align: bottom;
	}
	.note,
	.tags{
		color:map-get($colors,secondary-text);
		font-size: 13px;
		text-indent: -29px;
		padding-left: 30px;
		.icon{
			position: relative;
			left:10px;
		}
	}
	.divider{
		margin-right: -20px;
		margin-left: -20px;
	}
	.properties{
		margin:30px 0 20px;
		> span{
			display: inline-block;
			margin-bottom:10px;
			vertical-align: middle;
		}
	}
	.people,
	.timer{
		margin-right:20px;
	}
	h3{
		font-size: 16px;
		color:map-get($colors,secondary-text);
		margin:0 0 20px 0;
	}
	ol{
		padding-left: 20px;
		margin-bottom:30px;
		li{
			margin-top:20px;
		}
	}
}
.divider{
	margin:20px 0;
	border-top:1px solid map-get($colors,divider);
}
.recipe-edit{
	@extend %box;
	width:600px;
	margin:76px auto 50px;
	padding:20px;
	.actions{
		margin-top:40px;
	}
	.ingredients{
		margin-top:50px;
		margin-bottom: 25px;
		@include media($bp-small){
			.last{
				margin-bottom: 0;
			}
		}
	}
	.add-ingredient{
		margin-top: 10px;
	}
	.delete{
		cursor: pointer;
	}
	.ingredient{
		display: flex;
		inline-input,
		select{
			margin-right:10px;
		}
		.delete{
			order:6;
		}
		.amount{
			width:50px;
			display: inline-block;
			order:1;
		}
		.unit{
			width:100px;
			order:2;
		}
		.name{
			order:3;
		}
		.info{
			order:4;
		}
		.group{
			order:5;
		}
		@include media($bp-small){
			display: block;
			margin-bottom: 45px;
			position: relative;
			width: calc(100% - 20px);
			.delete{
				position: absolute;
				top: 50%;
				right: -23px;
			}
			.name,.info,.group{
				margin-top: 10px;
				display: block;
			}
		}
	}
	.methods{
		margin-top:50px;
	}
	.method{
		display: flex;
		margin-bottom:20px;
		inline-input{
			width:100%;
		}
		.number{
			width:20px;
			padding-top: 2px;
			color:map-get($colors,secondary-text);
		}
	}
}
.row{
	margin:35px 0 25px;
	position: relative;
	label{
		@extend %transition;
		display: block;
		color:map-get($colors,secondary-text);
		position: absolute;
		transform-origin: left;
		transform: translate(0,4px) scale(1);
		pointer-events: none;
	}
	&.active,
	&.filled{
		label{
			transform:translate(0,-20px) scale(0.75);
		}
	}
	&.active{
		label{
			color:map-get($colors,accent);
		}
	}
}
.recipe-name{
	label,
	input{
		font-size: 27px;
		height: 40px;
	}
	.active,
	.filled{
		label{
			transform:translate(0, -25px) scale(0.45);
		}
	}
}

@include placeholder{
	color:map-get($colors,secondary-text);
	font-weight:300;
}
.modal{
	@extend %box;
	position: fixed;
	top: 20px;
	right: 20px;
	width:300px;
	padding:20px;
	display: none;
	max-width:calc(100% - 40px);
	z-index:5;
	&.shown{
		display: block;
	}
	.modal-footer{
		padding-top: 20px;
		text-align: right;
	}
}
.menu{
	box-shadow: 0 2px 5px rgba(0,0,0,0.26);
	background:map-get($colors,primary);
	padding: 20px 25px;
	color: map-get($colors,light);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 4;
	display:flex;
	.icon{
		cursor: pointer;
	}
	span{
		display: inline-block;
		vertical-align: middle;
	}
	.pull-right{
		float: right;
	}
	.menu-heading{
		font-size: 16px;
		display: inline-block;
		margin:0 0 0 20px;
		width:100%;
		text-transform: capitalize;
	}
	.icon{
		vertical-align: bottom;
		&.active{
			color:map-get($colors,accent-light);
		}
	}
	.search{
		height: 23px;
		display: none;
		width:calc(100% - 44px);
		margin:0 20px;
		input{
			color:map-get($colors,light);
			height:auto;
			width:100%;
			font-size: 16px;
			border-bottom: none;
			&:focus{
				margin-bottom: -1px;
			}
		}
		inline-input{
			position: relative;
			top:-2px;
			width:calc(100% - 30px);
		}
		&.visible{
			display: inline-block;
		}
	}
	@include placeholder{
		color:map-get($colors,primary-light);
	}
}
.side-menu-backdrop{
	opacity: .48;
	background: map-get($colors,dark);
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 9;
	cursor: pointer;
}
.side-menu{
	box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
	position: fixed;
	top:0;
	left:0;
	height:100%;
	width:250px;
	max-width:80%;
	z-index: 10;
	background:map-get($colors,hint);
	.scroll{
		height:calc(100% - 75px);
		overflow: auto;
		padding:20px;
	}
	.fixed{
		border-top:1px solid map-get($colors,primary-light);
		padding:0 20px;
	}
	.header{
		@extend %cursive-font;
		background: url(../resources/cooking.jpg);
		font-size: 30px;
		background-size: cover;
		margin: -20px -20px 30px;
		padding: 30px 20px;
		color: map-get($colors,light);
		position: relative;
		&:before{
			content:"";
			display: block;
			background: rgba(#000, 0.5);
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
		}
		.text{
			position: relative;
		}
		img{
			width:30px;
		}
	}
	.option{
		margin:10px 0;
		cursor: pointer;
		display: block;
		width: 100%;
		text-align: left;
		padding:0;
		.icon{
			vertical-align: middle;
			margin-right:10px;
		}
	}
}
.none-found{
	text-align: center;
	color:map-get($colors,primary);
}
[hidden],
.hidden{
	display: none !important;
}
.create-new{
	position: fixed;
	right: 30px;
	bottom: 30px;
}
button{
	border:none;
	background:none;
	font-size:inherit;
}
button:not(.icon):not(.fab-button):not(.option),
.button{
	@extend %font-normal;
	text-transform: uppercase;
	font-size: 14px;
	padding:10px;
	border-radius:4px;
	display: inline-block;
	cursor: pointer;
	color:map-get($colors,accent);
	transition: 0.25s;
	margin-right:10px;
	&.raised{
		@extend %box-shadow;
		@extend %transition;
		&:focus,
		&:hover{
			@extend %elevated-box-shadow;
		}
	}
	&.accent{
		background:map-get($colors,accent);
		color:map-get($colors,icon);
	}
	&.primary{
		background:map-get($colors,primary-light);
	}
	&.wide{
		width:100%;
		margin-bottom:15px;
		display: block;
	}
	&:focus,
	&:hover{
		color:map-get($colors,accent);
		background:map-get($colors,hint);
	}
}
.fab-button{
	@extend %box-shadow;
	@extend %transition;
	cursor: pointer;
	width:56px;
	height:56px;
	line-height: 56px;
	font-size: 24px;
	text-align: center;
	font-family: 'Material Icons';
	border-radius:100%;
	background:map-get($colors,accent);
	color:map-get($colors,icon);
	display: inline-block;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga" 1;
	&.snack-open{
		transform:translate(0,-50%);
	}
	&.fab-mini{
		background:map-get($colors,light);
		color:map-get($colors,secondary-text);
		line-height: 40px;
		width: 40px;
		height: 40px;
	}
	&:focus,
	&:hover{
		@extend %elevated-box-shadow;
	}
}
.icon{
	line-height: 22px;
	font-size: 24px;
	width:24px;
	height:24px;
	text-align: center;
	font-family: 'Material Icons';
	text-transform: none;
	color:inherit;
	display: inline-block;
	padding:0;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga" 1;
}
.login{
	background:#333 url(../resources/cooking.jpg) center;
	background-size:cover;
	color: #fff;
	margin:-10px;
	min-height:100vh;
	overflow: auto;
}
.sign-in-form {
	background: rgba(#000, 0.5);
	padding: 20px;
	width: 100%;
	max-width: 880px;
	margin: 50px auto;
	text-align: center;
	input {
		color: map-get($colors, light);
	}
	.accent{
		margin-top:40px;
	}
	@include media($bp-small){
		margin-top:0;
		margin-bottom: 0;
		min-height:100vh;
	}
}
.form{
	max-width:400px;
	width:100%;
	margin:0 auto;
}
.program-heading{
	@extend %cursive-font;
	font-size: 40px;
	img{
		height: 80px;
		display: block;
		margin: 0 auto 20px;
	}
}
.error-message{
	color:map-get($colors,accent-dark);
	white-space: pre-line;
}
.spinner {
	display: inline-block;
	vertical-align: middle;
	height: 15px;
	width: 15px;
	margin-left:10px;
	animation: rotate 0.8s infinite linear;
	border: 2px solid map-get($colors,light);
	border-right-color: transparent;
	border-radius: 50%;
	button:hover &{
		border-color: map-get($colors,accent);
		border-right-color: transparent;
	}
}

@keyframes rotate {
	0%    { transform: rotate(0deg); }
	100%  { transform: rotate(360deg); }
}

.snackbar{
	font-size: 14px;
	background:map-get($colors,notification);
	color:map-get($colors,hint);
	border-radius:2px;
	position: fixed;
	bottom:0;
	left:50%;
	transform:translate(-50%,100%);
	transition:1s transform;
	padding:14px 24px;
	display: flex;
	justify-content: space-between;
	min-width:288px;
	max-width:568px;
	@include media($bp-small){
		width:100%;
		max-width:none;
	}
	&.shown{
		transform:translate(-50%,0%);
	}
	.snackbar-button{
		margin-left:48px;
		text-transform: uppercase;
		color:map-get($colors,accent);
		cursor: pointer;
	}
}
